body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5rem;
  color: #808d99;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #ebfbff;
  background-size: cover;
  background-position: top;
}
header .primary .logo {
  width: 6.5rem;
}

.btn-call-to-action {
  border: none;
  text-align: center;
  text-decoration: none;
  color: #00252e;
  font-weight: 700;
  background-color: #fff;
  border-radius: 28px;
  -webkit-box-shadow: 4px 7px 14px -8px rgba(0, 37, 46, 0.2);
  -moz-box-shadow: 4px 7px 14px -8px rgba(0, 37, 46, 0.2);
  box-shadow: 4px 7px 14px -8px rgba(0, 37, 46, 0.2);
}

img {
  width: 100%;
}

footer {
  background-color: #00252e;
}

@media screen and (max-width: 375px) {
  header {
    background-image: url("../images/bg-hero-mobile.svg");
    padding: 2rem 1rem 1rem 1rem;
    margin-bottom: 1.5rem;
  }
  header .primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .primary .first-call-to-action button {
    width: 7rem;
    padding: 9px 15px;
    font-size: 0.8rem;
  }
  header .secondary {
    margin-top: 50px;
    color: #00252e;
    text-align: center;
    padding: 1rem;
  }
  header .secondary .message h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.4rem;
  }
  header .secondary .message .message-heading {
    margin-bottom: 10px;
  }
  header .secondary .message button {
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .btn-pink {
    width: 14rem;
    padding: 12px 22px;
    font-size: 0.9rem;
    background-color: #ff52bf;
    color: #fff;
  }

  main {
    padding: 2rem 1.2rem 1rem 1.2rem;
  }

  .benefit {
    padding: 60px 35px 25px 35px;
    text-align: center;
    border: none;
    border-radius: 18px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 37, 46, 0.16);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0, 37, 46, 0.16);
    box-shadow: 0px 0px 15px -4px rgba(0, 37, 46, 0.16);
  }

  .benefit-image {
    margin-bottom: 60px;
  }

  .benefit-message h2 {
    color: #00252e;
    font-size: 1.4rem;
  }
  .benefit-message p {
    font-size: 1rem;
  }

  .last-benefit {
    margin-bottom: 200px;
  }

  .bottom-call-to-action {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 94%;
    height: 180px;
    position: absolute;
    top: -110px;
    background-color: #fff;
    border: none;
    border-radius: 18px;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 37, 46, 0.16);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0, 37, 46, 0.16);
    box-shadow: 0px 0px 15px -4px rgba(0, 37, 46, 0.16);
  }
  .bottom-call-to-action h3 {
    margin-top: 0;
    color: #00252e;
    font-size: 1.2rem;
  }

  footer {
    position: relative;
    padding-top: 150px;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    font-size: 1rem;
  }
  footer .main-wrapper {
    padding-left: 15px;
  }
  footer .first .logo {
    margin-bottom: 15px;
  }
  footer .first .logo img {
    width: 200px;
  }
  footer .first .item-container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
  }
  footer .first .item-container p {
    margin-left: 25px;
    align-self: baseline;
  }
  footer .first .icon {
    width: 20px;
    align-self: baseline;
  }
  footer .fourth {
    height: 70px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .fourth .fab {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 12px;
  }
  footer .fourth .fab:last-child {
    margin-right: 0;
  }
  footer .secondary {
    text-align: center;
    font-size: 0.8rem;
  }
  footer .attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
  }
  footer .attribution a:link {
    color: #fff;
    text-decoration: none;
  }
  footer .attribution a:visited {
    color: #fff;
    text-decoration: none;
  }
  footer .attribution a:active {
    color: #fff;
    text-decoration: none;
  }
}
@media all and (min-width: 376px) and (max-width: 1440px) {
  header {
    background-image: url("../images/bg-hero-desktop.svg");
    padding: 3rem 3rem 3rem 3rem;
  }
  header .primary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }
  header .secondary {
    display: flex;
    justify-content: space-between;
    color: #00252e;
  }
  header .secondary .message {
    padding-top: 3rem;
  }
  header .secondary .message h1 {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
  }
  header .secondary .message p {
    padding-right: 12rem;
  }
  header .secondary .community-interface {
    margin-left: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
